@import url("../../index.css");

.formats {
  width: 100%;
  height: 40px;
  border-radius: 0.3rem;
  font-size: 1rem;
}

.format-div {
  margin: 1rem 0rem;
  width: 100%;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column-reverse;
  gap: 1rem;
}

.format-div > .format-div__child {
  flex: 1;
}
.format-div__child > h3 {
  text-align: center;
}

.format-preview-div {
  width: 200px;
  height: 200px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 1rem auto auto;
  display: grid;
  place-items: center;
}

.convert-button-div {
  text-align: center;
}

.convert-btn,
.converting {
  width: 90%;
  height: 45px;
  margin: 0 auto;
  background-color: var(--color-darkBlue);
  margin: 1.5rem 0rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
}

.green {
  background-color: var(--color-success);
  color: white;
  cursor: not-allowed;
}

.convert-btn__disabled {
  background-color: var(--color-disabled);
  color: black;
  cursor: not-allowed;
}
.format-wrapper {
  width: 100%;
}
.formats {
  width: 100%;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
}
.format-field {
  width: 80%;
}

.preview-button,
.preview-button-link,
.generating-button {
  background-color: rgb(6, 177, 63);
  padding: 0.6rem 1.2rem;
  border-radius: 0.3rem;
  border: none;
  margin-top: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
}

.generating-button {
  background-color: slateblue;
}

.preview-button-link {
  background-color: rgb(177, 174, 6);
}

.preview-button-link {
  text-decoration: none;
  color: white;
}

@media (width>768px) {
  .format-div__child > h3 {
    text-align: left;
    font-size: 1rem;
  }
}

@media (width>1024px) {
  .format-div {
    margin: 1rem 0rem;
    flex-direction: row;
  }
  .format-div__child > h3 {
    text-align: left;
    font-size: 1rem;
  }
  .convert-btn,
  .converting {
    /* margin: 0.5rem 0; */
  }
}
