.modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  inset: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}
.modalContent {
  width: 290px;
}

@media (width>500px) {
  .modalContent {
    width: 400px;
  }
}

@media (width>768px) {
  .modalContent {
    width: 600px;
  }
}
